/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.gradle/
.idea/
.vscode/*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.svd
*.pdb
*.mdb
*.blob

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/Temp/
/[Aa]ssets/Temp.meta

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*



/[Aa]ssets/External/FindReference2.meta
/[Aa]ssets/External/FindReference2/*
/[Aa]ssets/Resources/Settings/settings_debug.asset